<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/user_data.js') }}"></script>
    <title>{{title}}</title>
    <script src="{{ url_for('static', filename='js/longpoll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rating.js') }}"></script>
    <script src="{{ url_for('static', filename='js/comment.js') }}"></script>
    <link rel="stylesheet" media="all" type="text/css" href=" {{ url_for('static', filename='css/sidebar.css')}}">
    <link rel="stylesheet" media="all" type="text/css" href=" {{ url_for('static', filename='css/word_break.css')}}">
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Мое приложение</a>
          <div class="nav-item active">
            <a href="/"> На главную</a>
          </div>
          <div class="nav-item">
            <a href="/news">Новости</a>
          </div>
          <div class="nav-item">
            <a href="/mod">Модификации</a>
          </div>
        <form class="form-inline" action="/search" method="post">
            <input class="form-control mr-sm-2" type="search" id="search" name="search" placeholder="" aria-label="">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Найти</button>
        </form>

    </nav>
</header>

{% include 'sidebar/sidebar_main.html' %}

<main role="main" class="container-fluid" id="main_content">
    {% block content %}{% endblock %}
</main>
</body>
</html>
